/*========= Body / carousel ==========*/

.dimension {
    content: "";
    display:"block";
    margin-left: 700px;
}

.color_carousel {
    color: #c7650ad0;
    font-size: 1.4rem;
}

.titre_vedette {
    font-size: 1.5rem;
    margin-left: 2rem;
    margin: 2rem;
}

article {
    width: 20%;
    padding: 0.8rem;
    background-color: lightgrey;
}

article img {
    width: 100%;
}

figcaption h3 {
    font-size: 1.3rem;
    padding: 0.8rem;
}

figcaption {
    display: flex;
    font-size: 1.5rem;
    flex-direction: row-reverse;
}

article figure {
   margin: 0;
}

section {
    display: flex;
    justify-content: space-between;
}