header img {
    width: 15%;
}

header {
    display: flex;
    box-sizing: border-box;
}

header p {
    display: flex;
    justify-content: flex-end;
    margin-left: 1.2rem;
    margin-top: 0rem;
    box-sizing:border-box;
    background-color: #1e3256;
}

#logo {
    width: 50%
}

#slogan {
    font-size: 1rem;
    justify-content: flex-start;
    box-sizing: border-box;
    color: lightgrey;
    font-weight: bolder;
}

.bouton {
    color: #ff7f15;
    text-decoration: none;
    background-color: #1e3256;
}

.bouton:hover {
    color: lightgrey;
    font-size: 1.2rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content:center;
    margin-top: 0;
    margin-right: 3.5rem;
    padding-left: 0;
    background-color: #1e3256;
}

nav a {
    display: flex;
    text-decoration: none;
    margin-left: 1.2rem;
    color: #ff7f15;
}

.bg-image{
    background-image: url(fansticker/kobu-agency-qj15uNotnH0-unsplash.jpg);
    background-position-y: 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

main {
    display: flex;
    background-color: lightgrey;
}

footer ul {
 display: flex;
 list-style-type: none;
 justify-content: space-between;
 padding: 1.2rem;
 color: #ff7f15;
 background-color: #1e3256;
}

.lien {
    color: #ff7f15;
    text-decoration: none;
}

li a:hover {
    color: lightgrey;
    font-size: 1.2rem;
}

/* color: #1e3256; bleu foncé
 background-color: #ff7f15; orange
 #0094AD; bleu clair */

